services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - ${HOME}/Data/postgres:/var/lib/postgresql/data
    networks:
      - proxy

networks:
  proxy:
    external: true
