
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: always
    dns:
      - 1.1.1.1
    ports:
      - 3000:3000
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
      - ${HOMEPAGE_LOG_LOCATION}:/var/homepage/logs
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOSTS}
      - HOMEPAGE_VAR_TITLE=${HOMEPAGE_VAR_TITLE}
      - HOMEPAGE_VAR_START_URL=${HOMEPAGE_VAR_START_URL}
      - HOMEPAGE_VAR_LOCATION=${HOMEPAGE_VAR_LOCATION}
      - HOMEPAGE_VAR_TIMEZONE=${HOMEPAGE_VAR_TIMEZONE}
      - HOMEPAGE_VAR_GLANCES_URL=${HOMEPAGE_VAR_GLANCES_URL}
      - HOMEPAGE_VAR_GLANCES_USERNAME=${HOMEPAGE_VAR_GLANCES_USERNAME}
      - HOMEPAGE_VAR_GLANCES_PASSWORD=${HOMEPAGE_VAR_GLANCES_PASSWORD}
      - HOMEPAGE_VAR_NPM_URL=${HOMEPAGE_VAR_NPM_URL}
      - HOMEPAGE_VAR_NPM_USERNAME=${HOMEPAGE_VAR_NPM_USERNAME}
      - HOMEPAGE_VAR_NPM_PASSWORD=${HOMEPAGE_VAR_NPM_PASSWORD}
      - HOMEPAGE_VAR_NAS_URL=${HOMEPAGE_VAR_NAS_URL}
      - HOMEPAGE_VAR_NAS_USERNAME=${HOMEPAGE_VAR_NAS_USERNAME}
      - HOMEPAGE_VAR_NAS_PASSWORD=${HOMEPAGE_VAR_NAS_PASSWORD}
      - HOMEPAGE_VAR_PORTAINER_URL=${HOMEPAGE_VAR_PORTAINER_URL}
      - HOMEPAGE_VAR_PORTAINER_API_KEY=${HOMEPAGE_VAR_PORTAINER_API_KEY}
      - HOMEPAGE_VAR_JELLYFIN_URL=${HOMEPAGE_VAR_JELLYFIN_URL}
      - HOMEPAGE_VAR_JELLYFIN_API_KEY=${HOMEPAGE_VAR_JELLYFIN_API_KEY}
      - HOMEPAGE_VAR_IMMICH_URL=${HOMEPAGE_VAR_IMMICH_URL}
      - HOMEPAGE_VAR_IMMICH_API_KEY=${HOMEPAGE_VAR_IMMICH_API_KEY}
      - HOMEPAGE_VAR_ACTUALBUDGET_URL=${HOMEPAGE_VAR_ACTUALBUDGET_URL}
      - HOMEPAGE_VAR_UPTIME_KUMA_URL=${HOMEPAGE_VAR_UPTIME_KUMA_URL}
      - HOMEPAGE_VAR_JELLYSEERR_URL=${HOMEPAGE_VAR_JELLYSEERR_URL}
      - HOMEPAGE_VAR_JELLYSEERR_API_KEY=${HOMEPAGE_VAR_JELLYSEERR_API_KEY}
      - HOMEPAGE_VAR_BAZARR_URL=${HOMEPAGE_VAR_BAZARR_URL}
      - HOMEPAGE_VAR_BAZARR_API_KEY=${HOMEPAGE_VAR_BAZARR_API_KEY}
      - HOMEPAGE_VAR_PROWLARR_URL=${HOMEPAGE_VAR_PROWLARR_URL}
      - HOMEPAGE_VAR_PROWLARR_API_KEY=${HOMEPAGE_VAR_PROWLARR_API_KEY}
      - HOMEPAGE_VAR_RADARR_URL=${HOMEPAGE_VAR_RADARR_URL}
      - HOMEPAGE_VAR_RADARR_API_KEY=${HOMEPAGE_VAR_RADARR_API_KEY}
      - HOMEPAGE_VAR_SONARR_URL=${HOMEPAGE_VAR_SONARR_URL}
      - HOMEPAGE_VAR_SONARR_API_KEY=${HOMEPAGE_VAR_SONARR_API_KEY}
      - HOMEPAGE_VAR_QBITTORRENT_URL=${HOMEPAGE_VAR_QBITTORRENT_URL}
      - HOMEPAGE_VAR_SYNCTHING_MACSERVER_URL=${HOMEPAGE_VAR_SYNCTHING_MACSERVER_URL}
      - HOMEPAGE_VAR_SYNCTHING_DS216_URL=${HOMEPAGE_VAR_SYNCTHING_DS216_URL}
      - HOMEPAGE_VAR_GITHUB_URL=${HOMEPAGE_VAR_GITHUB_URL}
      - HOMEPAGE_VAR_CLOUDFLARE_URL=${HOMEPAGE_VAR_CLOUDFLARE_URL}
      - HOMEPAGE_VAR_REDDIT_URL=${HOMEPAGE_VAR_REDDIT_URL}
      - HOMEPAGE_VAR_DISCORD_URL=${HOMEPAGE_VAR_DISCORD_URL}
    networks:
      - proxy

networks:
  proxy:
    external: true
    